@charset "UTF-8";
@import url(reset.css);
/*FONTS*/
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");
/*COLORS*/
/*SIZES*/
/*BODY*/
/* line 24, D:/Dropbox/WORKS/Ben/EarningMillion/sass/_init.scss */
html {
  font-size: 15px; }

/* line 31, D:/Dropbox/WORKS/Ben/EarningMillion/sass/_init.scss */
a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s; }

/* line 37, D:/Dropbox/WORKS/Ben/EarningMillion/sass/_init.scss */
p {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  margin-bottom: 1rem; }

/* line 50, D:/Dropbox/WORKS/Ben/EarningMillion/sass/_init.scss */
.bold {
  font-weight: 700;
  color: inherit; }

/* line 55, D:/Dropbox/WORKS/Ben/EarningMillion/sass/_init.scss */
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  supported by Chrome and Opera */ }

/* line 65, D:/Dropbox/WORKS/Ben/EarningMillion/sass/_init.scss */
.center_content, .header .header_content, .container .main, .footer {
  position: relative;
  margin: auto;
  height: 100%;
  width: 100%;
  max-width: 980px; }

/* line 73, D:/Dropbox/WORKS/Ben/EarningMillion/sass/_init.scss */
button {
  background: none;
  text-transform: uppercase;
  transition: all 0.2s;
  border: 0;
  cursor: pointer; }
  /* line 79, D:/Dropbox/WORKS/Ben/EarningMillion/sass/_init.scss */
  button:active {
    border: 0; }

/* line 84, D:/Dropbox/WORKS/Ben/EarningMillion/sass/_init.scss */
.btn {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-size: 1.2rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  width: 110px;
  height: 36px; }

/* line 96, D:/Dropbox/WORKS/Ben/EarningMillion/sass/_init.scss */
.golden_btn {
  background-color: rgba(183, 116, 23, 0.99);
  border: 1px solid #d69130;
  -webkit-box-shadow: 0 1px 1px 1px #f8b558;
  -moz-box-shadow: 0 1px 1px 1px #f8b558;
  box-shadow: 0 1px 1px 1px #f8b558;
  background-image: -webkit-linear-gradient(118deg, rgba(183, 116, 23, 0.99), rgba(228, 158, 59, 0.99));
  background-image: -moz-linear-gradient(118deg, rgba(183, 116, 23, 0.99), rgba(228, 158, 59, 0.99));
  background-image: -o-linear-gradient(118deg, rgba(183, 116, 23, 0.99), rgba(228, 158, 59, 0.99));
  background-image: -ms-linear-gradient(118deg, rgba(183, 116, 23, 0.99), rgba(228, 158, 59, 0.99));
  background-image: linear-gradient(118deg, rgba(183, 116, 23, 0.99), rgba(228, 158, 59, 0.99)); }
  /* line 108, D:/Dropbox/WORKS/Ben/EarningMillion/sass/_init.scss */
  .golden_btn:hover {
    border: 1px solid gold;
    background-image: -webkit-linear-gradient(118deg, rgba(228, 158, 60, 0.99), rgba(239, 179, 96, 0.99));
    background-image: -moz-linear-gradient(118deg, rgba(228, 158, 60, 0.99), rgba(239, 179, 96, 0.99));
    background-image: -o-linear-gradient(118deg, rgba(228, 158, 60, 0.99), rgba(239, 179, 96, 0.99));
    background-image: -ms-linear-gradient(118deg, rgba(228, 158, 60, 0.99), rgba(239, 179, 96, 0.99));
    background-image: linear-gradient(118deg, rgba(228, 158, 60, 0.99), rgba(239, 179, 96, 0.99)); }
  @media screen and (max-width: 480px) {
    /* line 96, D:/Dropbox/WORKS/Ben/EarningMillion/sass/_init.scss */
    .golden_btn {
      background-color: rgba(183, 116, 23, 0);
      background-image: none;
      color: #d69130;
      border: 0;
      box-shadow: none; }
      /* line 122, D:/Dropbox/WORKS/Ben/EarningMillion/sass/_init.scss */
      .golden_btn:hover {
        background-image: none;
        border: 0;
        box-shadow: none;
        color: #f8b558; } }

/* line 131, D:/Dropbox/WORKS/Ben/EarningMillion/sass/_init.scss */
.silver_btn {
  background-color: rgba(234, 234, 234, 0.99);
  -webkit-box-shadow: 0 1px 1px 1px #fff;
  -moz-box-shadow: 0 1px 1px 1px #fff;
  box-shadow: 0 1px 1px 1px #fff;
  background-image: -webkit-linear-gradient(118deg, #fff, #e2ddd7);
  background-image: -moz-linear-gradient(118deg, #fff, #e2ddd7);
  background-image: -o-linear-gradient(118deg, #fff, #e2ddd7);
  background-image: -ms-linear-gradient(118deg, #fff, #e2ddd7);
  background-image: linear-gradient(118deg, #fff, #e2ddd7); }
  /* line 141, D:/Dropbox/WORKS/Ben/EarningMillion/sass/_init.scss */
  .silver_btn:hover {
    background-image: -webkit-linear-gradient(118deg, #fff, #fff);
    background-image: -moz-linear-gradient(118deg, #fff, #fff);
    background-image: -o-linear-gradient(118deg, #fff, #fff);
    background-image: -ms-linear-gradient(118deg, #fff, #fff);
    background-image: linear-gradient(118deg, #fff, #fff); }
  @media screen and (max-width: 480px) {
    /* line 131, D:/Dropbox/WORKS/Ben/EarningMillion/sass/_init.scss */
    .silver_btn {
      background-color: rgba(234, 234, 234, 0);
      background-image: none;
      color: #e2ddd7;
      border: 0;
      box-shadow: none; }
      /* line 154, D:/Dropbox/WORKS/Ben/EarningMillion/sass/_init.scss */
      .silver_btn:hover {
        background-image: none;
        color: #fff; } }

/* line 161, D:/Dropbox/WORKS/Ben/EarningMillion/sass/_init.scss */
.fade_border {
  position: relative;
  width: 1280px;
  margin: auto;
  margin-left: -640px;
  left: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 1px;
  background-color: black;
  background: black;
  background: -moz-linear-gradient(left, black 0%, #d69130 15%, #d69130 85%, black 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, black), color-stop(15%, #d69130), color-stop(85%, #d69130), color-stop(100%, black));
  background: -webkit-linear-gradient(left, black 0%, #d69130 15%, #d69130 85%, black 100%);
  background: -o-linear-gradient(left, black 0%, #d69130 15%, #d69130 85%, black 100%);
  background: -ms-linear-gradient(left, black 0%, #d69130 15%, #d69130 85%, black 100%);
  background: linear-gradient(to right, black 0%, #d69130 15%, #d69130 85%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 ); }

/* line 12, D:/Dropbox/WORKS/Ben/EarningMillion/sass/_flex.scss */
.flex-row {
  display: flex;
  flex-direction: row; }

/* line 14, D:/Dropbox/WORKS/Ben/EarningMillion/sass/_flex.scss */
.flex-row-around {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

/* line 17, D:/Dropbox/WORKS/Ben/EarningMillion/sass/_flex.scss */
.flex-row-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; }

/* line 20, D:/Dropbox/WORKS/Ben/EarningMillion/sass/_flex.scss */
.flex-row-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

/* line 23, D:/Dropbox/WORKS/Ben/EarningMillion/sass/_flex.scss */
.flex-row-between-mid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

/*Align verticaly & horiz*/
/* line 31, D:/Dropbox/WORKS/Ben/EarningMillion/sass/_flex.scss */
.flex-middle-center {
  display: flex;
  align-items: center;
  justify-content: center; }

/* line 32, D:/Dropbox/WORKS/Ben/EarningMillion/sass/_flex.scss */
.flex-middle-bottom {
  display: flex;
  align-items: flex-end;
  justify-content: center; }

/* line 33, D:/Dropbox/WORKS/Ben/EarningMillion/sass/_flex.scss */
.flex-middle-left {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

/* line 34, D:/Dropbox/WORKS/Ben/EarningMillion/sass/_flex.scss */
.flex-middle-right {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

/* line 4, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
body {
  box-shadow: 4px 5px;
  font: 100% "Ubuntu", sans-serif;
  color: #fff;
  min-height: 100vh;
  color: #fff;
  background-color: #000;
  margin: 0;
  padding: 0; }

@media screen and (max-width: 590px) {
  /* line 15, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
  html {
    font-size: 14px; } }

/* line 21, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
h1 {
  font-size: 2.2rem;
  letter-spacing: 0.2rem;
  font-weight: 400;
  line-height: 2.4rem;
  text-transform: uppercase;
  color: #f8b558;
  margin-top: 0;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.76); }

/* line 32, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
h2 {
  color: #d69130;
  /*border-bottom: 2px solid $primary_gold;*/
  display: inline-block;
  padding-bottom: 5px;
  font-size: 2rem;
  margin-bottom: 0;
  text-transform: uppercase; }

/* line 42, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
h3 {
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase; }

/* line 49, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
.link_selected {
  color: #d69130; }

/* line 53, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
.links_list {
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
  list-style: none; }
  /* line 58, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
  .links_list li {
    border-right: 2px solid #d69130;
    padding: 2px 20px; }
    /* line 61, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
    .links_list li:first-child {
      padding-left: 0; }
    /* line 64, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
    .links_list li:last-child {
      border: none;
      padding-right: 0; }
    /* line 69, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
    .links_list li a:hover {
      color: #d69130; }

/*HEADER*/
/* line 79, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
.header {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  /*HEADER TOP*/
  /*HEADER BOTTOM*/ }
  /* line 83, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
  .header .header_content {
    transition: all 0.1s; }
    @media screen and (max-width: 980px) {
      /* line 83, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
      .header .header_content {
        width: 96%; } }
  /* line 91, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
  .header .header_top {
    position: relative;
    align-items: center;
    height: 100%;
    padding-top: 10px; }
    /* line 96, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
    .header .header_top .logo {
      position: relative; }
      /* line 98, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
      .header .header_top .logo .spark {
        position: absolute;
        background: url(../images/spark.png) no-repeat;
        pointer-events: none;
        top: -10px;
        left: -45px;
        width: 128px;
        height: 110px; }
    /* line 108, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
    .header .header_top .buttons {
      position: relative;
      height: 100%;
      width: 300px; }
      @media screen and (max-width: 480px) {
        /* line 108, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
        .header .header_top .buttons {
          text-align: right; }
          /* line 114, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
          .header .header_top .buttons button {
            text-align: right; } }
      /* line 118, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
      .header .header_top .buttons button {
        margin-left: 20px; }

/*HEADER END*/
/* line 130, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
.container {
  position: relative;
  min-height: 100vh;
  z-index: 1;
  width: 100%;
  margin: auto;
  overflow: hidden; }
  /* line 137, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
  .container .slides {
    margin-bottom: 0;
    padding-bottom: 0; }
    /* line 140, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
    .container .slides img {
      width: 100%; }
  /* line 144, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
  .container .main {
    border-top: 2px solid #d69130;
    background: #171615;
    background: -moz-linear-gradient(top, #171615 0%, black 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #171615), color-stop(100%, black));
    background: -webkit-linear-gradient(top, #171615 0%, black 100%);
    background: -o-linear-gradient(top, #171615 0%, black 100%);
    background: -ms-linear-gradient(top, #171615 0%, black 100%);
    background: linear-gradient(to bottom, #171615 0%, black 100%); }
    @media screen and (max-width: 980px) {
      /* line 144, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
      .container .main {
        width: 96%; } }
    /* line 157, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
    .container .main .text {
      padding: 20px;
      margin: auto;
      line-height: 1.4rem; }
      /* line 162, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
      .container .main .text a {
        color: #f8b558; }
      /* line 165, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
      .container .main .text .text_list {
        list-style: none;
        padding-left: 0px;
        margin-left: 0; }
        /* line 169, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
        .container .main .text .text_list li::before {
          padding-right: 10px;
          content: "• ";
          color: #d69130;
          font-size: 1.2rem; }
      /* line 177, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
      .container .main .text .text_table {
        width: 360px;
        background-color: #000000;
        margin-bottom: 20px; }
        @media screen and (max-width: 480px) {
          /* line 177, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
          .container .main .text .text_table {
            width: 100%; } }
        /* line 184, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
        .container .main .text .text_table tr {
          background-color: #2a2a2a;
          padding: 5px;
          margin: 1px;
          border-bottom: 1px solid #000000;
          border-top: 1px solid #000000;
          text-align: center;
          transition: all 0.2s; }
          /* line 192, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
          .container .main .text .text_table tr:hover {
            background-color: #393939; }
          /* line 195, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
          .container .main .text .text_table tr td {
            padding: 5px; }
            /* line 197, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
            .container .main .text .text_table tr td:first-child {
              width: 1%;
              white-space: nowrap;
              background-color: #de8815; }
      /* line 205, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
      .container .main .text .call {
        display: inline-block;
        position: relative;
        padding: 10px;
        border: 1px solid #fff;
        background-color: #d69130;
        font-weight: 700;
        margin-top: 10px;
        width: auto; }
        /* line 214, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
        .container .main .text .call a {
          color: #fff; }
        /* line 217, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
        .container .main .text .call:hover {
          background-color: #f8b558; }

/* line 225, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
.footer {
  margin-top: 20px; }
  @media screen and (max-width: 980px) {
    /* line 225, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
    .footer {
      width: 96%; } }
  /* line 231, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
  .footer .payments {
    flex-wrap: wrap;
    margin-bottom: 20px; }
    /* line 234, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
    .footer .payments div:first-child {
      margin-right: 10px; }
    /* line 237, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
    .footer .payments img {
      width: 100%; }
  /* line 241, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
  .footer .socials {
    margin-bottom: 20px; }
    /* line 243, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
    .footer .socials img {
      width: 100%; }
  /* line 247, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
  .footer .buttom_links {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; }
    /* line 251, D:/Dropbox/WORKS/Ben/EarningMillion/sass/styles.scss */
    .footer .buttom_links li {
      font-size: 1rem; }

/*# sourceMappingURL=styles.css.map */